h1, 
h2, 
h3, 
h4,
h5 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    color: #4AAAA5;
}

body {
    /* background: #EBEBEB; */
    background-image: url("../images/ignasi_pattern_s.png");
    background-repeat: repeat;
}

#logo {
    color: white;
    background: #4AAAA5;
    padding: 10px 0px;
    margin-left: 10px;
}

.page-header {
    margin-bottom: 30px;
}

.container {
    margin: 80px 30px;
    background: white;
    padding: 30px;
}

img {
    border: none;
}

.no-margin {
    margin: 0px!important;
}

.port-img img {
    width: 100%;
    margin-bottom: 30px;
}