h1, 
h2, 
h3, 
h4,
h5 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    color: #4AAAA5;
}

html, body {
    height: 100%;
}

body {
    background-image: url("../images/ignasi_pattern_s.png");
    background-repeat: repeat;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.container {
    margin: 80px 30px 50px;
    background: white;
    padding: 30px;
    flex: 1 0 auto;
}

#flex-spacer {
    height: 100%;
}

#logo {
    color: white;
    background: #4AAAA5;
    padding: 10px 0px;
    margin-left: 10px;
}

.page-header {
    margin-bottom: 30px;
}

footer {
    display: flex;
    justify-content: center;
    flex: 0 0 auto;
    padding: 16px;
    border-top: 6px solid #4AAAA5;
    background: #666666;
    color: #6C757D;
    margin: 0;
  }

footer p {
    margin: 0;
}  

.port-img img {
    /* width: 100%; */
    margin-bottom: 30px;
}

.page-header p {
    clear: both;
}

.form-control  {
    border-radius: 0%;
}

.form-group {
    margin-left: 15px;
}

.btn-primary {
    background: #4AAAA5;
    padding: 0 30px;
    border-radius: 0%;
    border-style: none;
    height: 54px;
}

@media only screen and (max-width: 768px) {
    
    .container {
        margin: 80px 40px 50px;
    }

}

@media only screen and (max-width: 600px) {
    
    .container {
        margin: 80px auto 50px;
    }

}

